<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Окупаемость проектировщика</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div th:switch="${projects}">
    <h2 th:case="null">No projects found!</h2>
    <div th:case="*">
        <h2>Список проектов</h2>
        <table>
            <thead>
            <tr>
                <th>№ п/п</th>
                <th>Номер договора</th>
                <th>Месяц</th>
                <th>Дата договора</th>
                <th>Название объекта</th>
                <th>Готовность</th>
                <th>Цена</th>
                <th>Тип сигнализации</th>
                <th>Примечание</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projects : ${projects}">
                <td th:text="${projects.id}"></td>
                <td th:text="${projects.num_dogovor}"></td>
                <td th:text="${projects.month_dogovor}"></td>
                <td th:text="${projects.date_dogovor}"></td>
                <td th:text="${projects.name_adress}"></td>
                <td th:text="${projects.gotovnost}"></td>
                <td th:text="${projects.cash}"></td>
                <td th:text="${projects.type_project}"></td>
                <td th:text="${projects.comm}"></td>
                <td><a th:href="@{project-update/{id}(id=${projects.id})}">Редактировать</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/project-create">Добавить проект</a></p>
    <p><a href="/">На главную страницу</a></p>
</div>

<style>
#zatemnenie:target {
display: block;
}
#zatemnenie {
background: rgba(102, 102, 102, 0.68);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: none;
z-index: 9999999999;
}
window {
position: absolute;
top: 50%;
left: 50%;
width: 400px;
border: 1px solid #cecece;
padding: 50px;
transform: translate(-50%,-50%);
background-color: #fafafa;
}
div#main_text a.close_window {
position: absolute;
right: 10px;
top: 4px;
border: none;
}
</style>
<a href="#zatemnenie">Самое простое модальное окно</a>
<div id="zatemnenie">
    <window>
        <a href="#close_window" class="close_window">X</a>
        Сумма договоров равна:

        <tr th:each="projects : ${projects}">
            <td th:text="${projects.cash}"></td>
        </tr>

    </window>
</div>


</body>
</html>